@import "src/assets/css/colors";

.verify-email-container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 95px);

  .verify-email-wrapper {
    border: 1px solid gray;
    border-radius: 5px;

    .description {
      font-size: 16px;
    }

    .send-button {
      background-color: $primary;
      border-radius: 5px;
      color: $color-white;

      &:hover {
        opacity: .7;
      }
    }

    .redirect-to-login {
      font-size: 16px;
    }

  }
}

@media(min-width: 800px) {
  .verify-email-container {
    justify-content: center;

    .verify-email-wrapper {
      width: 500px;

    }
  }
}

