$light-bg: #FFF3CD;
$color-red: red;
$form-bg: #ebf7ff;
$dark-gray: #888888;
$darker-gray:  #6e6e6e;
$input-border: #ECF7FF;
$shadow-black: #00000014;
$primary: #50B6FF;
$color-white: #FFFFFF;
$bg-dark: #1F2833;
$primary: darkblue;
