@import "colors";

.mat-form-field {
  width: 100%;
  font-size: 16px;

  .mat-form-field-outline {
    border-radius: 5px;
    background-color: $color-black;
  }

  &.date-picker {
    .mat-form-field-infix {
      display: flex;
      padding: 6px;
    }
  }

  &.radio-group {
    display: flex;
    flex-direction: column;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    border: 2px solid $color-white;
  }
}


