<div class="blog-details-wrapper text-white">
  <ng-container *ngIf="isFetchingData">
    <div class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="(blog$ | async) as blog">
    <div class="container blog-details-container pb-4">
      <div class="row d-flex justify-content-start">
        <div class="col-12">
            <button class="back-button" (click)="navigateToBlogsPage()">
              <mat-icon>arrow_back</mat-icon>
              Go to blogs
            </button>
        </div>
      </div>
      <div class="row d-flex justify-content-center pt-3">
          <span class="blog-category d-flex justify-content-center"
                [class.fitness]="blog.category === blogCategories.FITNESS"
                [class.motivation]="blog.category === blogCategories.MOTIVATION"
                [class.food]="blog.category === blogCategories.FOOD">
            {{blog.category}}
          </span>
        <h1 class="blog-title fs-28 text-white pt-3">{{blog.title}}</h1>
        <div class="d-flex justify-content-center created-by">
          <span class="fs-20">Posted on  <span class="date-posted">{{blog.dateCreated | date}}</span> | by&nbsp;</span>
          <span class="blog-author fw-bolder fs-20">{{blog.author.displayName}}</span>
        </div>
      </div>

      <div class="row pt-3">
        <div class="image-section">
          <img class="blog-image" [src]="blog.imageUrl" alt="">
        </div>
      </div>

      <div class="row pt-4">
        <div *ngFor="let contentItem of blog.content" class="col-12 content-item pt-4">
          <ng-container *ngIf="contentItem.title && !contentItem.content else subTitle">
            <h1 class="main-title pt-5 pb-2 text-white">
              {{contentItem.title}}
            </h1>
          </ng-container>
          <ng-template #subTitle>
            <h2 class="sub-title fs-28 text-white">
              {{contentItem.title}}
            </h2>
          </ng-template>
          <p class="paragraph-content fs-16">
            {{contentItem.content}}
          </p>
        </div>
      </div>

      <div class="row d-flex justify-content-center justify-content-lg-end p-3">
        <button class="go-to-update-blog-button text-uppercase fw-bolder" mat-button
                (click)="navigateToUpdateBlogPage(blog)">Update
        </button>
      </div>
    </div>
  </ng-container>
</div>










