@import "src/assets/css/colors";

.container {
  padding-top: 30px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  color: darkblue;
  font-size: 20px;
  border: none;

  mat-icon {
    margin-right: 5px;
  }
  &:hover {
    opacity: .7;
  }
}

.blog-category {
  color: white;
  font-weight: bolder;
  padding: 4px;
  width: 100px;
  border-radius: 3px;

  &.fitness {
    background-color: mediumseagreen;
  }

  &.motivation {
    background-color: red;
  }

  &.food {
    background-color: #3CB8FF;
  }
}

.blog-title {
  text-align: center;
}

.created-by {
  color: white;
}


.blog-author  {
  color: darkblue;
}

.date-posted {
  color: darkblue;
}

.image-section {
  max-width: 100%;

  img {
    width: 100%;
  }
}

//.go-to-update-blog-button {
//  width: 100%;
//  background: darkblue;
//  border: none;
//  @media(min-width: 767.8px) {
//    width: 120px;
//  }
//}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 10em;
  width: 10em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

:host(::ng-deep .mat-progress-spinner circle, .mat-spinner circle)  {
  stroke: darkblue;
}

