@import "src/assets/css/colors";
@import "src/assets/css/common";

.container {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  color: $primary;
  font-size: 20px;
  border: none;

  mat-icon {
    margin-right: 5px;
  }
  &:hover {
    opacity: .7;
  }
}

.blog-category {
  color: $color-white;
  font-weight: bolder;
  padding: 8px;
  font-size: 22px;
  width: max-content;
  border-radius: 3px;

  &.fitness {
    background-color: mediumseagreen;
  }

  &.motivation {
    background-color: $danger;
  }

  &.food {
    background-color: $primary;
  }
}

.blog-title {
  text-align: center;
}

.created-by {
  color: $color-white;
}


.blog-author  {
  color: $primary;
}

.date-posted {
  color: $primary;
}

.image-section {
  max-width: 100%;
  height: 300px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
  }
  .blog-author-image-wrapper {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -50px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 4px solid $color-white;
    }
  }
}

.content-title {
  font-size: 28px;
}

.paragraph {
  font-size: 18px;
}

.blog-info {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-to-update-blog-button {
  width: 150px;
  background: $primary;
  border: none;
  color: $color-white;

  &:hover {
    opacity: .5;
  }
}

.delete-blog-post {
    width: 150px;
    background: $danger;
    border: none;
    color: $color-white;

    &:hover {
      opacity: .5;
    }

}

@media (min-width: 767.8px) {
  .image-section {
    max-width: 100%;
    height: 500px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
      border-radius: 10px;
    }
    .blog-author-image-wrapper {
      width: 130px;
      height: 130px;
      position: absolute;
      bottom: -65px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 4px solid $color-white;
      }
    }
  }
}

