<h1 mat-dialog-title class="text-white">Add step</h1>
<div mat-dialog-content>
  <form [formGroup]="stepForm">
    <div class="mat-form-field">
      <label class="text-white" for="step">Step</label>
      <mat-form-field appearance="outline">
        <textarea matInput id="step" required formControlName="step"></textarea>
        <mat-error *ngIf="stepForm.get('step')?.invalid">Field is required!</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-add" (click)="onConfirmClick()" tabindex="1">Add</button>
  <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
</mat-dialog-actions>
