<div class="signup-form-container">
  <div class="sign-up-form-wrapper p-3">
    <ng-container *ngIf="isLoading">
      <div class="loading-indicator">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <h1 class="text-white">Register</h1>
    <form [formGroup]="signUpForm">
      <div class="mat-form-field">
        <label class="text-white">Username</label>
        <mat-form-field appearance="outline">
          <input matInput [formControl]="getFControl('userName')">
          <mat-error *ngIf="getFControl('userName').invalid">{{getFControlErrorMessage('userName')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="mat-form-field">
        <label class="text-white">Email</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="user@example.com" [formControl]="getFControl('email')">
          <mat-error *ngIf="getFControl('email').invalid">{{getFControlErrorMessage('email')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="mat-form-field">
        <label class="text-white">Password</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="!getFControl('password')?.value">Enter your password</mat-hint>
          <mat-error *ngIf="getFControl('password').invalid">{{getFControlErrorMessage('password')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="mat-form-field">
        <label class="text-white">Confirm password</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="!getFControl('confirmPassword')?.value">Enter your password</mat-hint>
          <mat-error *ngIf="getFControl('confirmPassword').invalid">{{getFControlErrorMessage('confirmPassword')}}</mat-error>
        </mat-form-field>
      </div>
      <ng-container *ngIf="passwordsDoNotMatch">
        <mat-error class="fs-16">Passwords do not match!</mat-error>
      </ng-container>
      <button mat-button class="register-button w-100 mt-3" (click)="signup()">Register</button>
      <div class="redirect-to-login pt-3 d-flex justify-content-center">
        <span>Go back to <a class="redirect" routerLink="/auth/login">Log In</a></span>
      </div>
    </form>
  </div>
</div>
