<div class="container add-blog-form-container">
  <div class="row">
    <div class="col">
      <h1 class="page-title text-center text-white">Create blog</h1>
    </div>
  </div>

  <form [formGroup]="blogPostForm" class="create-blog-form">
    <div class="mt-4">
        <div class="mat-form-field">
          <label class="text-white" for="title">Title</label>
          <mat-form-field appearance="outline">
            <input matInput id="title" formControlName="title" required>
          </mat-form-field>
        </div>
        <div class="mat-form-field">
          <label class="text-white" for="paragraphTitle">Paragraph title</label>
          <mat-form-field appearance="outline">
            <input matInput id="paragraphTitle" required #paragraphTitle>
          </mat-form-field>
        </div>
        <div class="mat-form-field">
          <label class="text-white" for="paragraphContent">Paragraph content</label>
          <mat-form-field appearance="outline">
            <textarea matInput id="paragraphContent" required #paragraphContent></textarea>
          </mat-form-field>
        </div>
      <button mat-button class="add-paragraph-button"
              (click)="addParagraphToBlogContent(paragraphTitle.value, paragraphContent.value)">Add paragraph</button>
      </div>
    <ng-container *ngIf="blogContent.controls.length">
      <ng-container *ngFor="let paragraph of blogContent.controls; index as id">
        <div class="mat-form-field">
          <label class="text-white">Paragraph title</label>
          <mat-form-field appearance="outline">
            <input matInput [disabled]="!paragraph.get('isUpdating')?.value" #updatedTitle
                   [value]="paragraph.get('title')?.value">
          </mat-form-field>
        </div>
        <div class="mat-form-field">
          <label class="text-white">Paragraph content</label>
          <mat-form-field appearance="outline">
            <textarea matInput required #paragraphContent [disabled]="!paragraph.get('isUpdating')?.value" #updatedContent
                      [value]="paragraph.get('content')?.value"></textarea>
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>
  </form>
</div>

<div>
  <form nz-form [formGroup]="blogPostForm" class="create-blog-form">
    <div *ngIf="blogContent.controls.length" class="blog-content-preview-wrapper">
      <div class="blog-paragraph" *ngFor="let paragraph of blogContent.controls; index as id">
        <nz-form-item>
          <nz-form-label [nzSpan]="24">Paragraph title</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input [disabled]="!paragraph.get('isUpdating')?.value" #updatedTitle nz-input
                   [value]="paragraph.get('title')?.value">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="24">Paragraph content</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <textarea [disabled]="!paragraph.get('isUpdating')?.value" #updatedContent nz-input
                      [value]="paragraph.get('content')?.value"></textarea>
          </nz-form-control>
        </nz-form-item>
        <div class="paragraph-action-buttons">
          <ng-container *ngIf="!paragraph.get('isUpdating')?.value else updateBlogParagraphButtons">
            <button nz-button nzType="primary"
                    (click)="enterInEditMode(id)">Edit
            </button>
            <button nz-button nzType="default" (click)="deleteBlogParagraph(id)" class="delete-button">Delete</button>
          </ng-container>
          <ng-template #updateBlogParagraphButtons>
            <button nz-button nzType="primary"
                    (click)="editBlogParagraph(id, updatedTitle.value, updatedContent.value)">Update
            </button>
            <button nz-button nzType="primary" class="back-button"
                    (click)="exitEditMode(id)">Back
            </button>
          </ng-template>
        </div>
      </div>
    </div>
    <nz-form-item class="form-item">
      <nz-form-label [nzSpan]="24" nzFor="category">Category</nz-form-label>
      <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Please pick category">
        <nz-select formControlName="category">
          <nz-option *ngFor="let type of blogTypes" [nzValue]="type" [nzLabel]="type"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="form-item">
      <nz-form-control>
        <fitness-army-app-image-uploader [controlName]="'blogImage'"
                                         (selectedImage)="onImageSelect($event)"></fitness-army-app-image-uploader>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
