.users-container {
  table {
    width: 100%;
    overflow: auto;
  }

  .user-role-form-field {
    border: 1px solid white;
    width: 100px;

    //&::ng-deep.mat-select-arrow {
    //  display: none;
    //}
  }

  .mat-header-cell {
    background-color: darkblue;
    color: white;
    padding: 5px;
  }

  .mat-cell {
    padding: 5px;
  }

  .mat-row {
    &:nth-child(even) {
      background-color: darkblue;
      color: white;
    }

    &:nth-child(odd) {
      background-color: black;
      color: white;
    }
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-paginator {
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;

    ::ng-deep .mat-paginator-page-size {
      color: white;
    }

    ::ng-deep .mat-paginator-range-actions {
      .mat-paginator-range-label {
        color: white;
      }

      .mat-icon-button {
        background-color: darkblue;
        margin: 2px;
        cursor: pointer;
        color: white;
      }
    }
  }
}

@media(min-width: 768px) {
  .users-container {
    padding: 60px;
  }
}

