<div class="users-container">
  <h1>Registered users</h1>
  <nz-table #usersTable
            [nzData]="users"
            [nzLoading]="isFetchingData"
            [nzScroll]="{x: '800px'}"
            [nzShowSizeChanger]="true"
  >
    <thead>
      <tr>
        <th *ngFor="let column of tableColumns" [nzSortFn]="column.compare ? column.compare : false">{{column.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersTable.data">
        <td>{{user.displayName}}</td>
        <td>{{user.email}}</td>
        <td>
          <div class="editable-cell" [hidden]="editId === user.uid" (click)="editUser(user.uid)">
            {{user.role}}
          </div>
          <nz-select [hidden]="editId !== user.uid" [(ngModel)]="user.role" (blur)="stopEditing()" (ngModelChange)="onRoleChange($event, user)">
            <nz-option *ngFor="let role of roles" [nzLabel]="role" [nzValue]="role"></nz-option>
          </nz-select>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

