@import "src/assets/css/colors";

.users-container {
  table {
    width: 100%;
    overflow: auto;

    .actions-container {
      .btn-delete {
        background-color: $danger;
        border-radius: 5px;
        color: $color-white;
        height: 40px;
        width: 80px;
        margin-left: 15px;

        &:hover {
          opacity: .7;
        }
      }
    }
  }

  .user-role-form-field {
    border: 1px solid white;
    width: 100px;

    //&::ng-deep.mat-select-arrow {
    //  display: none;
    //}
  }

  .mat-header-cell {
    background-color: $primary;
    color: $color-white;
    padding: 5px;
  }

  .mat-cell {
    padding: 5px;
  }

  .mat-row {
    &:nth-child(even) {
      background-color: $primary;
      color: $color-white;
    }

    &:nth-child(odd) {
      background-color: $color-black;
      color: $color-white;
    }
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-paginator {
    background-color: $color-black;
    padding-top: 8px;
    padding-bottom: 8px;

    ::ng-deep .mat-paginator-page-size {
      color: $color-white;
    }

    ::ng-deep .mat-paginator-range-actions {
      .mat-paginator-range-label {
        color: $color-white;
      }

      .mat-icon-button {
        background-color: $primary;
        margin: 2px;
        cursor: pointer;
        color: $color-white;
      }
    }
  }
}

@media(min-width: 768px) {
  .users-container {
    padding: 60px;
  }
}

