<div class="blogs-filters-container">
  <div class="blogs-search-wrapper blogs-filter-item">

    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input (change)="searchBlogs($event)" type="text" nz-input placeholder="Search here..."/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button class="search-button" nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <div class="blogs-filter-dropdown blogs-filter-item">
    <mat-form-field class="blog-category-select-container" appearance="fill">
      <mat-select [(value)] ="selectedCategory" (selectionChange)="onCategorySelectionChange($event)">
        <mat-option *ngFor="let category of blogCategories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
