<div class="blogs-filters-container">
  <div class="blogs-search-wrapper blogs-filter-item">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input (change)="searchBlogs($event)" type="text" nz-input placeholder="Search here..."/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <div class="blogs-filter-dropdown blogs-filter-item">
    <a nz-dropdown [nzDropdownMenu]="menu">
      Filter by category
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item (click)="categorySelect('ALL')"
            [value]="'ALL'">ALL</li>
        <li nz-menu-item (click)="categorySelect(category)" *ngFor="let category of blogCategories"
            [value]="category">{{category}}</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
