<div class="home-page-container pb-3">
  <div class="hero-section">
    <div class="hero-section-content">
      <h1 class="hero-section-title">Welcome to Fitness Army</h1>
      <h3 class="hero-section-sub-title pt-2">Read everything about fitness and health</h3>
      <span class="description pt-2">Shape your perfect body</span>
    </div>
  </div>
  <!--About us section-->
  <div class="container text-white">
    <div class="row section mt-5">
      <div class="col-xs-12 col-md-6">
        <div class="image-container">
          <img
            class="img-fluid"
            src="./assets/images/home_page_about_us_section_image.jpeg"
          />
        </div>
      </div>
      <div class="col-xs-12 col-md-6 pt-4 pt-md-0">
        <h3 class="section-title">About us</h3>
        <h2 class="pt-4 text-white">
          SAFE BODY BUILDING PROPER SOLUTIONS THAT SAVES OUR VALUABLE TIME!
        </h2>
        <div class="pt-3 paragraph">
          We are experts in the area of fitness and nutrition. We have some of
          the best coaches in the fitness industry with a lot years of
          expertise.
        </div>
        <div class="paragraph">
          We offer a lot of valuable resources for fitness, bodybuilding and nutrition.
          You can try our recommended recipes, and tell us if you like them!
        </div>
      </div>
    </div>
  </div>
  <!--Services section-->
  <div class="container-fluid p-0 m-0 mt-5">
    <div class="services-section">
      <div class="container pt-5 pb-5 pb-lg-0">
        <div class="row">
          <div class="col-12 pb-0 pb-lg-5">
            <h3 class="section-title shadow">Services</h3>
          </div>
          <div *ngFor="let card of cards" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
            <mat-card class="card d-flex justify-content-center align-items-center">
              <img mat-card-image [src]="card.cardImageUrl" alt="service_img">
              <mat-card-content>
                <p class="text-black text-center">
                  {{card.cardContent}}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <!--Gallery section-->
    <div class="container-fluid pt-5">
      <div class="gallery-grid-container">
        <div class="gallery-grid-card image-1">
          <img class="img-fluid" src="./assets/images/home-gallery-image-1.jpg" alt="">
        </div>
        <div class="gallery-grid-card image-2">
          <img class="img-fluid" src="./assets/images/home-gallery-image-2.jpg" alt="">
        </div>
        <div class="gallery-grid-card image-3">
          <img class="img-fluid" src="./assets/images/home-gallery-image-3.jpg" alt="">
        </div>
        <div class="gallery-grid-card image-4">
          <img class="img-fluid" src="./assets/images/home-gallery-image-4.jpg" alt="">
        </div>
        <div class="gallery-grid-card image-5">
          <img class="img-fluid" src="./assets/images/home-gallery-image-5.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
