<div class="landing-page-container">
  <div class="image-container">
    <img class="image" src="./assets/images/home_landing_image.jpg">
    <div class="hero-section-content">
      <h1 class="hero-section-title">Welcome to Fitness Army</h1>
      <h3 class="hero-section-sub-title">Challenge yourself</h3>
      <span class="description">Shape your perfect body</span>
    </div>
  </div>
  <div class="about-us-section section">
    <div class="image-container">
      <img class="about-us-image" src="./assets/images/home_page_about_us_section_image.jpeg">
    </div>
    <div class="about-us-description-section">
      <h3 class="about-us-description-title">About us</h3>
      <h1 class="about-us-description-subtitle">SAFE BODY BUILDING PROPER SOLUTIONS THAT SAVES OUR VALUABLE TIME!</h1>
      <div class="about-us-paragraph bold">
        We are experts in the area of fitness and nutrition. We have some of the best coaches
        in the fitness industry with a lot years of expertise.
      </div>
      <div class="about-us-paragraph">
        We offer the best solutions for our clients needs. We adapt our workout programs
        to your needs. We help you to build your dream physique.
      </div>
    </div>
  </div>
  <div class="services-section">
    <div class="services-section-image-container">
      <img class="services-section-image" src="./assets/images/services_landing_image.jpg">
      <div class="services-section-content">
        <h3 class="services-section-title">Our services for you</h3>
        <div class="services-sub-title-container">
          <h1 class="services-section-subtitle">Push your limits forward we offer to you</h1>
          <button class="more-services-icon" nz-button nzSize="large">More services</button>
        </div>
        <div class="services-cards-container">
          <div class="service-card">
            <div class="service-icon-wrapper">
              <img class="service-icon" src="./assets/images/healthcare.png">
            </div>
            <h2 class="service-title">Health caring</h2>
            <div class="service-description">
              We care for your health. We make sure that your body and health will
              be at the top level.
            </div>
          </div>
          <div class="service-card">
            <div class="service-icon-wrapper">
              <img class="service-icon" src="./assets/images/dumbbell.png">
            </div>
            <h2 class="service-title">Gym strategies</h2>
            <div class="service-description">
              We make the best exercise programs based on your desires and goals.
            </div>
          </div>
          <div class="service-card">
            <div class="service-icon-wrapper">
              <img class="service-icon" src="./assets/images/clock.png">
            </div>
            <h2 class="service-title">Progress tracking</h2>
            <div class="service-description">
              We monitor your progress and give you appropriate feedback.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery-section section">
    <div class="gallery-grid">
      <div class="image-1 image-card">
        <div class="image-wrapper">
          <img src="./assets/images/home-gallery-image-1.jpg">
        </div>

      </div>
      <div class="image-2 image-card">
        <div class="image-wrapper">
          <img src="./assets/images/home-gallery-image-2.jpg">
        </div>
      </div>
      <div class="image-3 image-card">
        <div class="image-wrapper">
          <img src="./assets/images/home-gallery-image-3.jpg">
        </div>
      </div>
      <div class="image-4 image-card">
        <div class="image-wrapper">
          <img src="./assets/images/home-gallery-image-4.jpg">
        </div>
      </div>
      <div class="image-5 image-card">
        <div class="image-wrapper">
          <img src="./assets/images/home-gallery-image-5.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="coaches-section section">

  </div>
</div>
