.container {
  padding-top: 30px;

  nz-spin {
    top: 130px;
  }

  .add-blog-button {
    width: 96%;
    text-transform: uppercase;
    font-weight: bolder;
    @media(min-width: 767.8px) {
      margin-right: 12px;
      width: 135px;
    }
  }
}
