<div class="container blogs-container">
<!--  <nz-spin [nzSpinning]="true" [nzSize]="'large'" *ngIf="isFetchingData" [nzTip]="'Fetching blogs...'"></nz-spin>-->
  <div class="row">
    <div class="blogs-filter-container">
      <fitness-army-app-blogs-filter (onCategorySelect)="onCategorySelect($event)"
                                     (onSearchBlogs)="onSearchBlogs($event)"
                                     [userRole]="loggedInUser?.role!"></fitness-army-app-blogs-filter>
    </div>
  </div>
  <ng-container *ngIf="loggedInUser?.role === userRoles.ADMIN || loggedInUser?.role === userRoles.COACH">
    <div class="row pt-3 d-flex justify-content-center justify-content-md-end">
      <button class="add-blog-button" nz-button nzType="primary" (click)="openCreateBlogModal()">Add blog post
      </button>
    </div>
  </ng-container>
  <div class="row pt-4">
    <div class="col-xs-12 col-md-6 col-lg-4 mt-4 mt-lg-0"
         *ngFor="let blog of blogs$ | async">
      <fitness-army-app-blog [blog]="blog"></fitness-army-app-blog>
    </div>
  </div>
</div>
