<div class="container blogs-container">
  <div class="row">
    <div class="blogs-filter-container">
      <fitness-army-app-blogs-filter (onCategorySelect)="onCategorySelect($event)"
                                     (onSearchBlogs)="onSearchBlogs($event)"
                                     [userRole]="loggedInUser?.role!"></fitness-army-app-blogs-filter>
    </div>
  </div>
  <ng-container *ngIf="loggedInUser?.role === userRoles.ADMIN || loggedInUser?.role === userRoles.COACH">
    <div class="row pt-3 d-flex justify-content-center justify-content-md-end">
      <button class="add-blog-button" nz-button nzType="primary" (click)="openCreateBlogModal()">Add blog post
      </button>
    </div>
  </ng-container>
  <div class="row pt-4">
    <ng-container *ngIf="isFetchingData">
      <div class="loading-indicator">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <ng-container *ngIf="blogs$ | async as blogs">
      <div class="col-xs-12 col-md-6 col-lg-4 mt-4 mt-lg-0"
           *ngFor="let blog of blogs">
        <fitness-army-app-blog [blog]="blog"></fitness-army-app-blog>
      </div>
    </ng-container>
  </div>
</div>
