@import "src/assets/css/colors";
@import "src/assets/css/common";
@import "src/assets/css/forms";

.verify-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px;
    background-color: $form-bg;
    border-radius: 10px;

    .left-section {
      flex: 1;
    }

    .right-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 16px 20px;
      justify-content: center;

      .form-group {
        .form-control {
          width: 100%;
          height: 46px;
          font-size: 14px;
          border-radius: 8px;
          border: 1px solid $input-border;
        }

        .input-errors-container {
          @extend .input-errors-container;
        }
      }

      .submit-button-wrapper {
        padding-top: 10px;

        .submit-button {
          @extend .action-button;

          &:disabled {
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }

      .redirectToLogin {
        text-align: center;
        padding-top: 10px;

        span {
          font-family: 'DM Sans', sans-serif;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: #303030;

          a {
            color: #303030;
            font-family: 'DM Sans', sans-serif;
            font-weight: normal;
            font-size: 16px;
            text-decoration: underline;

            &:hover {
              color: #3CB8FF;
            }
          }
        }
      }

      .input-hint {
        color: red;
      }
    }
  }
}

@media(min-width: 768px) {
  .verify-email-container {
    .wrapper {
      flex-direction: row;
    }
  }
}
