@import "src/assets/css/colors";

.reset-password-container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 95px);

  .reset-password-wrapper {
    border: 1px solid gray;
    border-radius: 5px;

    .forgot-password-link {
      color: $light-blue;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        opacity: .7;
      }
    }

    .description {
      font-size: 16px;
    }

    .reset-password-button {
      background-color: $primary;
      border-radius: 5px;
      color: $color-white;

      &:hover {
        opacity: .7;
      }
    }

    .redirect-to-login {
      font-size: 16px;
    }
  }
}

@media(min-width: 800px) {
  .reset-password-container {
    justify-content: center;

    .reset-password-wrapper {
      width: 500px;

    }
  }
}
