@import "src/assets/css/colors";

.btn-add {
  background-color: $primary;
}

.add-content-btn {
  background: $primary;
  color: $color-white;
  border-radius: 5px;
  font-weight: bold;
  width: 150px;
  height: 40px;

  &:hover {
    opacity: .5;
  }
}

.paragraph-content-form {
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;
}
