<h1 mat-dialog-title class="text-white">Add paragraph</h1>
<div mat-dialog-content>
  <form [formGroup]="paragraphForm">
    <div class="mat-form-field">
      <label class="text-white" for="paragraphTitle">Paragraph title</label>
      <mat-form-field appearance="outline">
        <input matInput id="paragraphTitle" formControlName="title">
        <mat-hint>If you add a title only it will be showed as a section subtitle!</mat-hint>
      </mat-form-field>
    </div>
    <div class="mat-form-field">
      <label class="text-white" for="paragraphContent">Paragraph content</label>
      <mat-form-field appearance="outline">
        <textarea matInput id="paragraphContent" formControlName="content"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-add" (click)="onConfirmClick()" tabindex="1">Add</button>
  <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
</mat-dialog-actions>
