<div *nzModalTitle>
  <p class="modal-title">Add paragraph</p>
</div>

<div class="modal-content">
  <form nz-form [formGroup]="paragraphForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="paragraphTitle">Title</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <input nz-input id="paragraphTitle" formControlName="title">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="paragraphContent">Content</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <textarea nz-input id="paragraphContent" formControlName="content"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="closeModal()">Close</button>
  <button nz-button nzType="primary" (click)="addParagraph()">Add paragraph</button>
</div>
