.wrapper {
  padding: 30px 12px;
}

:host ::ng-deep nz-tabset {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;

  .ant-tabs {
   border: 3px solid black;
  }

  .ant-tabs-nav-list {
    background-color: ghostwhite;

    .ant-tabs-tab {
      font-weight: bold;
      background-color: #3CB8FF;
      color: white;

      &:hover {
        opacity: 0.5;
      }

      &.ant-tabs-tab-active {
        background-color: #3CB8FF;

        .ant-tabs-tab-btn {
          color: white;
        }
      }
    }
  }
}

@media(min-width: 1200px) {
  .wrapper {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  :host ::ng-deep nz-tabset {
    flex-direction: row;
    width: 80%;
  }
}
