<div class="blog-details-wrapper text-white pb-5 pb-md-2">
  <ng-container *ngIf="isFetchingData">
    <div class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="(recipe$ | async) as recipe">
    <div class="container pb-md-2 p-2">
      <div class="row">
        <div class="recipe-image-wrapper">
          <img [src]="recipe.recipeImage" alt="Recipe image">
          <div class="recipe-author-img-wrapper">
            <img [src]="recipe?.author?.photoURL" alt="Author photo">
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 85px">
        <div class="col d-flex justify-content-center">
          <h5 class="recipe-author text-white">Recipe by {{ recipe.author.displayName}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <h1 class="recipe-title text-white text-center">{{recipe.title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <ng-container *ngIf="rating$ | async as rating">
            <fitness-army-app-star-rating
              [rating]="rating.rating"
              [starCount]="5"
              [color]="starColor"
            ></fitness-army-app-star-rating>
          </ng-container>
        </div>
      </div>
      <div class="row info mt-4">
        <div class="col-xs-12 col-md-4 recipe-level">
          <div class="text-white pt-3 pt-md-5 pb-3 pb-md-5 d-flex flex-column
           align-items-center align-items-md-start">
            <span class="level">Level: <b>{{ recipe.level}}</b></span>
            <span class="time-label pt-3">Total: <b>{{ recipe.totalMinutesNeeded}}</b></span>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 time-needed">
          <div class="text-white pt-3 pt-md-5 pb-3 pb-md-5 d-flex flex-column
           align-items-center align-items-md-start">
            <span class="prep-time">Prep: <b>{{ recipe.preparationTime}}</b></span>
            <span class="cook-time pt-3">Cook: <b>{{ recipe.cookTime}}</b></span>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div
            class="servings text-white pt-3 pt-md-5 pb-3 pb-md-5  d-flex flex-column
             align-items-center align-items-md-start">
            <span class="servings-label">Yield: <b>{{ recipe.servings}}</b></span>
            <span class="nutrition-info pt-3" [mtxTooltip]="nutritionInfo"
                  mtxTooltipPosition="below">Nutrition info</span>
            <ng-template #nutritionInfo>
              <div class="nutrition-info-container">
                <div class="header">
                  <p>Nutritional Analysis</p>
                  <p>Per serving</p>
                </div>

                <div class="content">
                  <div class="nutrition-info-item">
                    <p class="label">Calories</p>
                    <p class="value">{{recipe.nutritionInfo.calories}}</p>
                  </div>
                  <div class="nutrition-info-item">
                    <p class="label">Total fat</p>
                    <p class="value">{{recipe.nutritionInfo.totalFat}}</p>
                  </div>
                  <div class="nutrition-info-item">
                    <p class="label">Saturated fat</p>
                    <p class="value">{{recipe.nutritionInfo.saturatedFat}}</p>
                  </div>
                  <div class="nutrition-info-item">
                    <p class="label">Cholesterol</p>
                    <p class="value">{{recipe.nutritionInfo.cholesterol}}</p>
                  </div>
                  <div class="nutrition-info-item">
                    <p class="label">Sodium</p>
                    <p class="value">{{recipe.nutritionInfo.sodium}}</p>
                  </div>
                  <div class="nutrition-info-item">
                    <p class="label">Carbohydrates</p>
                    <p class="value">{{recipe.nutritionInfo.carbohydrates}}</p>
                  </div>
                  <div class="nutrition-info-item">
                    <p class="label">Dietary Fiber</p>
                    <p class="value">{{recipe.nutritionInfo.dietaryFiber}}</p>
                  </div>
                  <div class="nutrition-info-item">
                    <p class="label">Protein</p>
                    <p class="value">{{recipe.nutritionInfo.protein}}</p>
                  </div>
                  <div class="nutrition-info-item">
                    <p class="label">Sugar</p>
                    <p class="value">{{recipe.nutritionInfo.sugar}}</p>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row cooking-process">
        <div class="col-xs-12 col-md-6 pt-5">
          <h1 class="text-white title">Ingredients: </h1>
          <div class="ingredients pt-3">
            <p class="ingredient-item" *ngFor="let ingredient of recipe.ingredients">
              {{ingredient.amount + ' ' + ingredient.name}}
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 pt-5">
          <h1 class="title text-white">Directions: </h1>
          <div class="steps pt-3">
            <ol type="1">
              <li *ngFor="let step of recipe.steps" class="step"><span>{{step}}</span></li>
            </ol>
          </div>
        </div>
      </div>
      <ng-container *ngIf="hasRole">
        <div class="row d-flex justify-content-end p-3">
          <button class="delete-recipe-btn text-uppercase fw-bolder mat-button m-1"
          (click)="deleteRecipe(recipe)">Delete</button>
          <button class="go-to-update-recipe-button text-uppercase fw-bolder m-1" mat-button
                  (click)="navigateToUpdateRecipe(recipe)">Update
          </button>
        </div>
      </ng-container>
      <div class="row">
        <div class="col p-3">
          <ng-container *ngIf="(rating$ | async) as rating">
            <h3 class="text-white reviews-number">{{rating.total + ' reviews' }}</h3>
            <div style="width: 240px">
              <fitness-army-app-star-rating [starCount]="5" [rating]="rating.rating"
                                            [color]="starColor"></fitness-army-app-star-rating>
            </div>

          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <fitness-army-app-create-review [recipeId]="recipe.id!"
                                          [loggedInUser]="loggedInUser"
                                          (reviewCreated)="onReviewCreate($event, recipe)"></fitness-army-app-create-review>
        </div>
      </div>
      <section class="reviews-section pt-5">
        <ng-container *ngIf="(reviews$ | async) as reviews">
          <div class="reviews-container d-flex flex-column">
            <div class="review pb-2 d-flex pt-4" *ngFor="let review of reviews">
              <div class="user-photo-wrapper">
                <img class="user-photo" [src]="review?.author?.photoURL" alt="User photo">
              </div>
              <div class="content">
                <div class="header d-flex flex-column flex-md-row">
                  <span class="reviewer-name">{{review.author.displayName}}</span>
                  <span class="date-posted">{{review.dateCreated | date}}</span>
                </div>
                <div class="review-description">
                  <fitness-army-app-star-rating [starCount]="5" [rating]="review.rating"
                                                [color]="starColor"></fitness-army-app-star-rating>
                  <p class="description">{{review.content}}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </section>
    </div>
  </ng-container>
</div>









