.container {
  padding-top: 100px;
}

::ng-deep .ant-tabs-nav-list {
  .ant-tabs-tab {
    background: darkblue!important;
    .ant-tabs-tab-btn {
      color: white!important;
      font-weight: bolder;
    }
  }
}
