<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <div class="logo-wrapper w-100 d-flex justify-content-end">
    <div class="logo-container">
      <img src="./assets/images/fitness-army-logo.svg" alt="logo"/>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="side" opened="true">
    <div class="sidenav-container">
      <ng-container *ngIf="user$ | async as user">
        <div class="profile-image-container d-flex justify-content-center">
          <div class="profile-image-wrapper" (click)="openUpdateUserProfileImageModal(user)">
            <img class="avatar mat-elevation-z8" [src]="user.photoURL ? user.photoURL : defaultUserProfileImage"
                 alt="User image"/>
            <div class="overlay">
              <mat-icon>photo_camera</mat-icon>
            </div>
          </div>
        </div>
        <h4 class="user-name">{{user.displayName}}</h4>
        <p class="user-email">{{user.email}}</p>
      </ng-container>
      <mat-divider></mat-divider>
      <a mat-button class="route-link" routerLinkActive="active" routerLink="home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-button class="route-link" routerLinkActive="active" routerLink="user/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
      <a mat-button class="route-link" routerLinkActive="active" routerLink="blogs">
        <mat-icon>grid_on</mat-icon>
        <span>Blogs</span>
      </a>
      <a mat-button class="route-link" routerLinkActive="active" routerLink="recipes">
        <mat-icon>description</mat-icon>
        <span>Recipes</span>
      </a>
      <button mat-button class="route-link" routerLinkActive="active"
         [matMenuTriggerFor]="adminMenu">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin</span>
      </button>

      <mat-menu #adminMenu="matMenu" yPosition="below" xPosition="before">
        <a mat-menu-item class="route-link" routerLinkActive="active" routerLink="admin">
          <mat-icon>group</mat-icon>
          <span>Users</span>
        </a>
      </mat-menu>
      <ng-container *ngIf="(user$ | async) else login">
        <button mat-button class="route-link" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </ng-container>
      <ng-template #login>
        <a mat-button class="route-link" routerLink="/auth/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
      </ng-template>
      <mat-divider></mat-divider>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <div>
        <router-outlet></router-outlet>
      </div>
      <footer class="d-flex justify-content-center">
        <div class="copyright">
          &copy; 2023 Discovery, Inc. or its subsidiaries and affiliates. All rights reserved
        </div>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

