<div class="footer-container">
  <div class="footer-section left">
    <div class="logo-header">
      <div class="logo-image-wrapper">
        <img src="assets/images/fitness-army-logo.svg">
      </div>
      <span class="app-name">Fitness Army</span>
    </div>
    <div class="links-section">
      <ul class="links-list">
        <li class="link-list-item">
          <a class="link">
            Coaches
          </a>
        </li>
        <li class="link-list-item">
          <a class="link">
            Programs
          </a>
        </li>
        <li class="link-list-item">
          <a class="link">
            Contact us
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-section right">
    <p>Section right</p>
  </div>
</div>
