.modal-content {
  .form-item {
    .content-label {
      font-size: 22px;
      font-weight: bold;
      border-bottom: 1px dashed gray;
    }

    .paragraph-title-label {
      padding-top: 8px;
    }
  }

  .blog-content-preview-wrapper {
    display: flex;
    flex-direction: column;
    height: 270px;
    overflow-y: auto;

    .blog-paragraph {
      background-color: lightgrey;
      padding: 8px 4px;
      margin-top: 10px;
    }
  }

  .paragraph-action-buttons {
    .delete-button {
      border: red;
      background-color: red;
      color: white;
    }

    .back-button {
      border: red;
      background-color: red;
      color: white;
    }
  }
}
