<div class="login-form-container">
  <div class="login-form-wrapper p-3">
    <ng-container *ngIf="isFetchingData">
      <div class="loading-indicator">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <h1 class="text-white">Log in</h1>
    <form [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="resetForm(formDirective)">
      <div class="mat-form-field">
        <label class="text-white">Email</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="user@example.com" [formControl]="getFControl('email')" required>
          <mat-error *ngIf="getFControl('email').invalid">{{getFControlErrorMessage('email')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="mat-form-field">
        <label class="text-white">Password</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
                 required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="!getFControl('password')?.value">Enter your password</mat-hint>
          <mat-error *ngIf="getFControl('password').invalid">{{getFControlErrorMessage('password')}}</mat-error>
        </mat-form-field>
      </div>
      <ng-container *ngIf="showError">
        <mat-error class="fs-16">User not found! Please enter a valid email and password</mat-error>
      </ng-container>
      <div class="mat-form-field pt-3">
        <mat-checkbox (change)="onCheckboxChecked($event)" class="example-margin">Remember me</mat-checkbox>
      </div>
      <a class="forgot-password-link w-100 d-block pt-3" (click)="navigateToResetPasswordPage()">Forgot Password?</a>
      <button class="w-100 login-button mt-3" mat-button (click)="login()">Login</button>
      <div class="divider">
        <div class="line-wrapper">
          <div class="line"></div>
        </div>
        <span class="d-block pt-4 text-center break-word">OR</span>
        <div class="line-wrapper">
          <div class="line"></div>
        </div>
      </div>
      <button mat-button class="outline-button mt-4" (click)="navigateToSignUpPage()">
        <mat-icon class="blue-icon">edit_square</mat-icon>
        <span class="text-white outline-button-label">Register</span>
      </button>
      <button mat-button class="outline-button mt-2" (click)="loginWIthGoogleProvider()">
        <img class="outline-button-icon" src="./assets/images/google.png"/>
        <span class="text-white outline-button-label">Continue with google</span>
      </button>
      <button mat-button class="outline-button mt-2">
        <img class="outline-button-icon" src="./assets/images/facebook.png"/>
        <span class="text-white outline-button-label">Continue with facebook</span>
      </button>
    </form>
  </div>
</div>
