<div class="container text-white update-blog-form-container">
  <ng-container *ngIf="isFetchingData">
    <div class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="blog">
    <div class="row">
      <div class="col">
        <h1 class="page-title text-center text-white">Update blog</h1>
      </div>
    </div>
    <form [formGroup]="updateBlogForm" class="update-blog-form p-3">
      <div class="row mt-4">
        <div class="col-xs-12 col-md-6">
          <div class="mat-form-field">
            <label class="text-white" for="title">Title</label>
            <mat-form-field appearance="outline">
              <input matInput id="title" formControlName="title" required>
              <mat-error *ngIf="getFControl('title').invalid">{{getFControlErrorMessage('title')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="mat-form-field">
            <label class="text-white" for="blogType">Category</label>
            <mat-form-field class="mat-select-dark" appearance="outline">
              <mat-select formControlName="category" id="blogType">
                <mat-option *ngFor="let type of blogTypes" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="getFControl('category').invalid">{{getFControlErrorMessage('category')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <button mat-button class="add-paragraph-button  fs-16 d-flex align-items-center"
                (click)="openAddParagraphModal()">
          Add paragraph
          <mat-icon class="add-icon">add_circle</mat-icon>
        </button>
      </div>
      <div class="row mt-2">
        <ng-container *ngIf="blogContent?.controls?.length">
          <div class="content-items">
            <mat-accordion multi class="w-100">
              <mat-expansion-panel *ngFor="let contentItem of blogContent.controls; let id = index" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{contentItem.get('title')?.value}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div formArrayName="content">
                  <div class="content-item">
                    <div [formGroupName]="id">
                      <div class="mat-form-field test">
                        <label class="text-white" for="paragraphTitle">Title</label>
                        <mat-form-field class="dark-bg" appearance="outline">
                          <input matInput id="paragraphTitle" formControlName="title">
                          <mat-error *ngIf="contentItem.get('title')?.invalid">You must enter a value!
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="mat-form-field">
                        <label class="text-white" for="paragraphContent">Content</label>
                        <mat-form-field appearance="outline">
                          <input matInput id="paragraphContent" formControlName="content">
                        </mat-form-field>
                      </div>
                      <div class="paragraph-action-buttons">
                        <button mat-button class="paragraph-delete-button" (click)="deleteParagraph(id)">
                          Delete
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </ng-container>
      </div>
      <div class="row mt-3">
        <div class="blog-image-wrapper">
          <img [src]="uploadedImageUrl ? uploadedImageUrl : blog.imageUrl" alt="Blog image">
        </div>
        <div class="image-picker-wrapper">
          <fitness-army-app-image-uploader [controlName]="'blogImage'"
                                           (selectedImage)="onImageSelect($event)"></fitness-army-app-image-uploader>
        </div>

      </div>
      <mat-divider class="divider mt-2"></mat-divider>
      <div class="row pt-3 d-flex justify-content-end">
        <button mat-button class="update-button" (click)="updateBlog()">Update</button>
      </div>
    </form>
  </ng-container>
</div>
