@import "src/assets/css/colors";
@import "src/assets/css/common";

.update-blog-form-container {
  padding-top: 80px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;

  .update-blog-form {
    border: 1px solid gray;
    .image-picker-wrapper {
      padding-bottom: 12px;
    }

    .blog-image-wrapper {
      width: 100%;
      height: 400px;
      padding: 12px;

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .add-paragraph-button {
      background-color: darkblue;
      color: white;
      width: 100%;
      height: 60px;

      .add-icon {
        margin-left: 5px;
      }
      &:hover {
        opacity: .5;
      }
    }

    .content-items {
      min-height: 50px;
      max-height: 380px;
      overflow-y: auto;

      .content-item {
        padding: 15px;
        background: $primary;
        border-radius: 10px;

        .paragraph-delete-button {
          border: 1px solid $color-white;
          background-color: $primary;
          color: $color-white;

          &:hover {
            opacity: .5;
          }
        }
      }

      &::-webkit-scrollbar {
        //width: 12px;
        background: $primary;
        width: 10px !important; /* width of the entire scrollbar */
      }

      &::-webkit-scrollbar-track {
        background: $primary;
        /* color of the tracking area */
      }

      &::-webkit-scrollbar-thumb {
        width: 15px;
        background-color: $bg-dark;
      }
    }

    .update-button {
      background: $primary;
      border: none;
      color: $color-white;
      width: 100px;
      font-weight: bolder;
      margin-right: 12px;

      &:hover {
        opacity: .5;
      }
    }
  }

  .divider {
    background-color: gray;
  }
}

::ng-deep .mat-expansion-panel-content {
  &::ng-deep .mat-expansion-panel-body {
    padding: 0;
  }
}

mat-expansion-panel-header {
  background: $primary;
  color: $color-white;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid $color-white;

  &:hover {
    background: $bg-dark;
  }
}

