.update-blog-form-container {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

nz-spin {
  padding-top: 130px;
}


.blog-content-container {
  overflow-y: auto;
  height: 600px;

  .content-item {
    background-color: whitesmoke;
    padding: 8px;
    margin-top: 12px;
    border-radius: 5px;

    .paragraph-delete-button {
      background-color: red;
      color: white;

      &:hover {
        opacity: .5;
      }
    }
  }
}

.blog-image-wrapper {
  width: 100%;

  img {
    width: 100%;
  }
}

.action-buttons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

  .update-button {
    flex: 1;
    border-radius: 5px;
    font-weight: bolder;
    text-transform: uppercase;
  }
}
