<div class="container text-white update-blog-form-container">
  <nz-spin [nzSpinning]="true" [nzTip]="nzTipMessage" *ngIf="isFetchingData"></nz-spin>
  <ng-container *ngIf="!isFetchingData">
    <div class="row">
      <div class="col">
        <h1 class="page-title text-center text-white">Update blog</h1>
      </div>
    </div>

      <form nz-form [formGroup]="updateBlogForm" class="update-blog-form">
        <div class="row mt-4">
        <div class="col-xs-12 col-md-6 col-lg-6">
          <nz-form-item class="form-item">
            <nz-form-label nzFor="title" class="form-label" [nzSpan]="24">
              <span class="text-white">Title</span></nz-form-label>
            <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Please enter an title">
              <input class="input" nz-input id="title" type="text" formControlName="title">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="form-item">
            <nz-form-label [nzSpan]="24" nzFor="category">
              <span class="text-white">Category</span></nz-form-label>
            <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Please pick category">
              <nz-select formControlName="category">
                <nz-option *ngFor="let type of blogTypes" [nzValue]="type" [nzLabel]="type"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <div class="blog-image-wrapper">
            <img [src]="uploadedImageUrl ? uploadedImageUrl : blog.imageUrl" alt="Blog image">
          </div>
          <nz-form-item class="form-item">
            <nz-form-control>
              <fitness-army-app-image-uploader [controlName]="'blogImage'"
                                               (selectedImage)="onImageSelect($event)"></fitness-army-app-image-uploader>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="row">
            <div class="col-6">
              <h3 class="blog-content-section-title text-white">Blog content</h3>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <button class="add-paragraph-button fw-bold" nz-button nzType="primary" (click)="openAddParagraphModal()">Add
                paragraph
              </button>
            </div>
          </div>
          <div class="row mt-2">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel *ngFor="let contentItem of blogContent.controls; let id = index" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{contentTitles[id]}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div formArrayName="content">
                  <div class="content-item">
                    <nz-form-item [formGroupName]="id">
                      <nz-form-label [nzSpan]="24">
                        <span class="text-white">Title</span>
                      </nz-form-label>
                      <nz-form-control [nzSpan]="24">
                        <input nz-input formControlName="title">
                      </nz-form-control>
                      <nz-form-label [nzSpan]="24">
                        <span class="text-white">Content</span>
                      </nz-form-label>
                      <nz-form-control [nzSpan]="24">
                        <textarea nz-input formControlName="content"></textarea>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-control [nzSpan]="24">
                        <button nz-button nzType="default" class="paragraph-delete-button" (click)="deleteParagraph(id)">
                          Delete
                        </button>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="action-buttons">
            <button class="update-button" nz-button nzType="primary" (click)="updateBlog()">Update</button>
          </div>
        </div>
      </form>
  </ng-container>
</div>
