<div class="container pb-5 pb-md-2 pt-5 add-recipe-form-container">
  <ng-container *ngIf="isFetchingData">
    <div class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <div class="row">
    <div class="col">
      <h1 class="page-title text-center text-white">Create recipe</h1>
    </div>
  </div>

  <form [formGroup]="recipeForm" class="create-recipe-form p-3">
    <div class="row mt-4">
      <div class="col-xs-12 col-md-6">
        <div class="mat-form-field">
          <label class="text-white" for="title">Title</label>
          <mat-form-field appearance="outline">
            <input matInput id="title" formControlName="title">
            <mat-error *ngIf="getFControl('title').invalid">{{getFControlErrorMessage('title')}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="mat-form-field">
          <label class="text-white" for="type">Type</label>
          <mat-form-field class="mat-select-dark" appearance="outline">
            <mat-select id="type" formControlName="type">
              <mat-option *ngFor="let type of recipeTypes" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="getFControl('type').invalid">{{getFControlErrorMessage('type')}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="mat-form-field">
          <label class="text-white" for="level">Level</label>
          <mat-form-field class="mat-select-dark" appearance="outline">
            <mat-select id="level" formControlName="level">
              <mat-option *ngFor="let level of recipeLevels" [value]="level">
                {{level}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="getFControl('level').invalid">{{getFControlErrorMessage('level')}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="mat-form-field">
          <label class="text-white" for="totalMinutesNeeded">Total time</label>
          <mat-form-field appearance="outline">
            <input matInput id="totalMinutesNeeded" formControlName="totalMinutesNeeded">
            <mat-error
              *ngIf="getFControl('totalMinutesNeeded').invalid">{{getFControlErrorMessage('totalMinutesNeeded')}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="mat-form-field">
          <label class="text-white" for="preparationTime">Preparation time</label>
          <mat-form-field appearance="outline">
            <input matInput id="preparationTime" formControlName="preparationTime">
            <mat-error
              *ngIf="getFControl('preparationTime').invalid">{{getFControlErrorMessage('preparationTime')}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="mat-form-field">
          <label class="text-white" for="cookTime">Cook time</label>
          <mat-form-field appearance="outline">
            <input matInput id="cookTime" formControlName="cookTime">
            <mat-error *ngIf="getFControl('cookTime').invalid">{{getFControlErrorMessage('cookTime')}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <button mat-button class="add-ingredient-button" (click)="openAddIngredientDialog()">
          Add ingredient
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <ng-container *ngIf="ingredients.controls && ingredients.controls.length">
          <div class="row">
            <div class="ingredients-wrapper mt-3">
              <mat-accordion multi>
                <mat-expansion-panel *ngFor="let contentItem of ingredients.controls; let id = index" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{contentItem.get('name')?.value}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div formArrayName="ingredients">
                    <div class="ingredient-item">
                      <div [formGroupName]="id">
                        <div class="mat-form-field">
                          <label class="text-white">Name</label>
                          <mat-form-field appearance="outline">
                            <input matInput formControlName="name">
                          </mat-form-field>
                        </div>
                        <div class="mat-form-field">
                          <label class="text-white">Amount</label>
                          <mat-form-field appearance="outline">
                            <input matInput formControlName="amount">
                          </mat-form-field>
                        </div>
                        <div class="paragraph-action-buttons">
                          <button mat-button class="delete-ingredient-btn" (click)="deleteIngredient(id)">
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="col-xs-12 col-md-6 pt-4 pt-md-0">
        <button mat-button class="add-step-button" (click)="openAddStepDialog()">
          Add step
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <ng-container *ngIf="steps.controls && steps.controls.length">
          <div class="pt-4" formArrayName="steps">
            <ng-container *ngFor="let step of steps.controls; let id = index">
              <div [formGroupName]="id">
                <div class="mat-form-field">
                  <label class="text-white">Step {{ id + 1}}</label>
                  <mat-form-field appearance="outline">
                    <textarea matInput formControlName="step"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div class="col-xs-12 pt-4">
        <div class="mat-form-field">
          <label class="text-white" for="servings">Servings</label>
          <mat-form-field appearance="outline">
            <input matInput id="servings" formControlName="servings">
            <mat-error *ngIf="getFControl('servings').invalid">{{getFControlErrorMessage('servings')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 pt-1 pt-md-4">
        <button mat-button class="add-nutrition-info-btn" (click)="openAddNutritionInfoDialog()">
          Add nutrition info
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <ng-container *ngIf="showNutritionInfo">
          <div class="info-container mt-4 p-2">
            <div formGroupName="nutritionInfo">
              <div class="mat-form-field">
                <label class="text-white" for="calories">Calories</label>
                <mat-form-field appearance="outline">
                  <input matInput id="calories" formControlName="calories">
                  <mat-error
                    *ngIf="getFControl('calories')?.invalid">{{getFControlErrorMessage('calories')}}</mat-error>
                </mat-form-field>
              </div>
              <div class="mat-form-field">
                <label class="text-white" for="totalFat">Total fat</label>
                <mat-form-field appearance="outline">
                  <input matInput id="totalFat" formControlName="totalFat">
                  <mat-error
                    *ngIf="getFControl('totalFat')?.invalid">{{getFControlErrorMessage('totalFat')}}</mat-error>
                </mat-form-field>
              </div>
              <div class="mat-form-field">
                <label class="text-white" for="saturatedFat">Saturated fat</label>
                <mat-form-field appearance="outline">
                  <input matInput id="saturatedFat" formControlName="saturatedFat">
                  <mat-error
                    *ngIf="getFControl('saturatedFat')?.invalid">{{getFControlErrorMessage('saturatedFat')}}</mat-error>
                </mat-form-field>
              </div>
              <div class="mat-form-field">
                <label class="text-white" for="cholesterol">Cholesterol</label>
                <mat-form-field appearance="outline">
                  <input matInput id="cholesterol" formControlName="cholesterol">
                  <mat-error
                    *ngIf="getFControl('cholesterol')?.invalid">{{getFControlErrorMessage('cholesterol')}}</mat-error>
                </mat-form-field>
              </div>
              <div class="mat-form-field">
                <label class="text-white" for="sodium">Sodium</label>
                <mat-form-field appearance="outline">
                  <input matInput id="sodium" formControlName="sodium">
                  <mat-error *ngIf="getFControl('sodium')?.invalid">{{getFControlErrorMessage('sodium')}}</mat-error>
                </mat-form-field>
              </div>
              <div class="mat-form-field">
                <label class="text-white" for="carbohydrates">Carbohydrates</label>
                <mat-form-field appearance="outline">
                  <input matInput id="carbohydrates" formControlName="carbohydrates">
                  <mat-error
                    *ngIf="getFControl('carbohydrates')?.invalid">{{getFControlErrorMessage('carbohydrates')}}</mat-error>
                </mat-form-field>
              </div>
              <div class="mat-form-field">
                <label class="text-white" for="dietaryFiber">Dietary Fiber</label>
                <mat-form-field appearance="outline">
                  <input matInput id="dietaryFiber" formControlName="dietaryFiber">
                  <mat-error
                    *ngIf="getFControl('dietaryFiber')?.invalid">{{getFControlErrorMessage('dietaryFiber')}}</mat-error>
                </mat-form-field>
              </div>
              <div class="mat-form-field">
                <label class="text-white" for="sugar">Sugar</label>
                <mat-form-field appearance="outline">
                  <input matInput id="sugar" formControlName="sugar">
                  <mat-error *ngIf="getFControl('sugar')?.invalid">{{getFControlErrorMessage('sugar')}}</mat-error>
                </mat-form-field>
              </div>
              <div class="mat-form-field">
                <label class="text-white" for="carbohydrates">Protein</label>
                <mat-form-field appearance="outline">
                  <input matInput id="protein" formControlName="protein">
                  <mat-error *ngIf="getFControl('protein')?.invalid">{{getFControlErrorMessage('protein')}}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </ng-container>

      </div>

      <div class="col-xs-12 col-md-6 pt-4">
        <fitness-army-app-image-uploader [controlName]="'recipeImage'"
                                         (selectedImage)="onImageSelect($event)"></fitness-army-app-image-uploader>
        <ng-container *ngIf="recipeImageUrl">
          <div class="recipe-image-wrapper mt-3">
            <img [src]="recipeImageUrl" alt="Recipe image">
          </div>
        </ng-container>
      </div>
    </div>
    <mat-divider class="mt-4 mb-3"></mat-divider>
    <div class="row d-flex justify-content-end">
      <button mat-button class="create-recipe-button" (click)="createRecipe()">Create</button>
    </div>
  </form>
</div>
