@import "src/assets/css/colors";

.add-recipe-form-container {
  .create-recipe-form {
    border: 1px solid gray;

    .recipe-image-wrapper {
      width: 100%;
      height: 400px;
      padding: 12px;

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .add-ingredient-button, .add-step-button, .add-nutrition-info-btn {
      background: $primary;
      color: $color-white;
      border-radius: 5px;
      font-weight: bold;
      height: 60px;
      width: 100%;

      &:hover {
        opacity: .5;
      }
    }

    .ingredients-wrapper {
      min-height: 50px;
      max-height: 350px;
      overflow-y: auto;

      .ingredient-item {
        padding: 15px;
        background: $primary;

        .delete-ingredient-btn {
          border: 1px solid $color-white;
          background-color: $primary;
          color: $color-white;

          &:hover {
            opacity: .5;
          }
        }
      }

      &::-webkit-scrollbar {
        //width: 12px;
        background: $primary;
        width: 10px !important; /* width of the entire scrollbar */
      }

      &::-webkit-scrollbar-track {
        background: $primary;
        /* color of the tracking area */
      }

      &::-webkit-scrollbar-thumb {
        width: 15px;
        background-color: $bg-dark; /* color of the scroll thumb */
        /* roundness of the scroll thumb */
      }
    }

    .create-recipe-button {
      background: $primary;
      border-radius: 5px;
      color: $color-white;
      width: 150px;
      margin-right: 12px;

      &:hover {
        opacity: .5;
      }
    }
  }
}

::ng-deep .mat-expansion-panel-content {
  &::ng-deep .mat-expansion-panel-body {
    padding: 0;
  }
}

mat-expansion-panel-header {
  background: $primary;
  color: $color-white;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid $color-white;

  &:hover {
    background: $bg-dark;
  }
}
