.button-wrap {
  position: relative;
  padding-top: 16px;
  z-index: 1;
}

:host ::ng-deep nz-form-label {
  label {
    color: white;
    padding: 25px 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: darkblue;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
    display: inline-flex;
  }

  label:after {
    content: none;
  }
}

:host ::ng-deep nz-form-control {
    font-size: 17px;
    color: #b8b8b8;
    position: absolute;
    top: 22px;
    left: 22px;
    cursor: pointer;
    z-index: -1;

  div.ant-form-item-explain {
    position: relative;
    top: 10px;
    left: -20px;
  }

  div.ant-form-item-control-input {
   left: 15px;
   width: 95%;

    div.ant-form-item-control-input-content {
      input {
        border: none;
      }

      nz-form-item-feedback-icon {
        left: 200px;
      }
    }
  }
}
