<div class="image-picker-button-wrap">
  <form *ngIf="parentFormGroup" [formGroup]="parentFormGroup">
    <button class="image-picker-button" type="button" mat-raised-button (click)="fileInput.click()">
      <mat-icon>upload</mat-icon> Chose image
    </button>
    <input hidden [writeFile]="true" #fileInput [id]="controlName" type="file" class="image-uploader"
           [formControlName]="controlName"
           (change)="processFile($event)" autocomplete="off" accept="image/*">
  </form>
</div>

