<div class="navbar-wrapper">
  <div class="logo-container">
    <div class="logo-wrapper">
      <img src="/assets/images/fitness-army-logo.svg">
    </div>
    <div class="logo-text">
      <p class="heading">Fitness army</p>
    </div>
  </div>
  <div class="menu">
    <ul class="menu-list">
      <li class="menu-list-item">
        <a class="menu-list-link" routerLink="blog" routerLinkActive="active">
          Blog
        </a>
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" routerLink="auth/login" routerLinkActive="active">
          Login
        </a>
      </li>
    </ul>
  </div>
</div>
