.wrapper {
  font-family: 'Montserrat', sans-serif;
  padding: 20px 20px 20px 0;

  .header {
    border-bottom: 1px solid gray;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    .left {
      padding-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid gray;
      padding-bottom: 40px;

      .profile-image-wrapper {
        width: 90px;
        height: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .user-name {
        text-align: center;
        font-weight: bolder;
        font-size: 20px;
      }
    }

    .right {
      padding-top: 30px;

      .user-stats-form {
        .action-button {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.user-stats-wrapper {
  display: flex;
  flex-direction: column;

  .left-section {
    flex: 1;

    .chart-wrapper {
      position: relative;
    }

    .user-bfp {
      font-weight: bolder;
      text-align: center;
      position: relative;
      top: -30px;
    }
  }

  .right-section {
    flex: 1;
    display: flex;
    justify-content: center;

    .user-gender-image-wrapper {
      position: relative;

      .user-height {
        position: absolute;
        top: 45%;
        right: 10px;
      }
    }

    .user-stats-data-wrapper {
      .user-stats-data {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        padding-left: 20px;

        .user-stats-data-item {
          display: flex;
          flex-direction: column;
          padding-top: 5px;

          .user-stats-data-item-label {
            color: #999
          }

          .user-stats-data-item-value {
            font-size: 16px;
            font-weight: bold;
            border-bottom: 1px dashed #CCC;
          }
        }
      }
    }
  }

  .update-button-wrapper {
    justify-content: flex-end;
    display: flex;
    padding-top: 20px;
  }
}

@media(min-width: 992px) {
  .wrapper {
    .container {
      flex-direction: row;
      padding-top: 20px;

      .left {
        flex: 1;
        display: flex;
        justify-content: center;
        border-right: 1px solid gray;
        border-bottom: none;

        .profile-image-wrapper {
          width: 50%;
          height: auto;
          display: block;
          margin-left: auto;
          margin-right: auto;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .right {
        flex: 3;
        padding: 12px;
        display: flex;

        .user-stats-form {
          flex: 1;
          .action-button {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .user-stats-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    .left-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .body-fat-info-section {
        text-align: center;

        .user-bfp {
        }
      }
    }

    .right-section {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;

      .user-gender-image-wrapper {
        position: relative;
        display: flex;
        height: 80%;

        .user-height {
          position: absolute;
          top: 45%;
          right: 10px;
        }
      }

      .user-stats-data-wrapper {
        height: 80%;
        .user-stats-data {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-around;
          padding-left: 20px;

          .user-stats-data-item {
            display: flex;
            flex-direction: column;
            padding-top: 5px;

            .user-stats-data-item-label {
              color: #999
            }

            .user-stats-data-item-value {
              font-size: 16px;
              font-weight: bold;
              border-bottom: 1px dashed #CCC;
            }
          }
        }
      }
    }

    .update-button-wrapper {
      padding-top: 0;
    }
  }
}

:host ::ng-deep nz-spin {
  left: 50%;
}

