<mat-card class="blog-card">
  <div class="blog-image-wrapper">
    <img class="blog-card-image" mat-card-image [src]="blog.imageUrl" alt="blog_photo" style=" height: 250px">
  </div>
  <mat-card-content class="card-content pt-3">
    <h2 class="blog-title text-white">
      {{blog.title}}
    </h2>
    <a class="blog-link" [routerLink]="['details', blog.id]">Read more...</a>
    <div class="wrapper">
      <span class="text-white author">By {{blog.author.displayName}}</span>
      <div class="blog-category-wrapper">
        <div class="blog-category"
             [class.fitness]="blog.category === blogCategories.FITNESS"
             [class.motivation]="blog.category === blogCategories.MOTIVATION"
             [class.food]="blog.category === blogCategories.FOOD">
          {{blog.category}}
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>


