@import "src/assets/css/colors";

.blog-card {
  background: $bg-dark;
  text-decoration: none;
  height: 470px;
  min-height: 100%;
  position: relative;

  .blog-image-wrapper {
    width: 100%;
    height: 250px;

    .blog-card-image {
      object-fit: cover;
      height: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .author {
    font-size: 16px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 95%;
    bottom: 12px;

    .blog-category-wrapper {
      padding: 8px 8px 0 10px;

      .blog-category {
        color: $color-white;
        font-weight: bolder;
        padding: 4px;
        width: 100px;
        display: flex;
        justify-content: center;

        &.fitness {
          background-color: mediumseagreen;
        }

        &.motivation {
          background-color: red;
        }

        &.food {
          background-color: #3CB8FF;
        }
      }
    }
  }
}


