<a class="card" [routerLink]="['details', blog.id]">
  <div class="thumb">
    <img [src]="blog.imageUrl">
  </div>
  <article>
    <h1 class="text-white">{{blog.title}}</h1>
    <div class="wrapper pt-4">
      <span class="text-white">By {{blog.author.displayName}}</span>
      <div class="blog-category-wrapper">
        <div class="blog-category"
             [class.fitness]="blog.category === blogCategories.FITNESS"
             [class.motivation]="blog.category === blogCategories.MOTIVATION"
             [class.food]="blog.category === blogCategories.FOOD">
          {{blog.category}}
        </div>
      </div>
    </div>
  </article>
</a>

